@import url('formato.css');

body {
	width: 100%;
	font: normal bold 18px/1.5 Roboto;
	min-height: 100vh;
}

h1,
h2,
h3,
h4 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}

a:visited {
	color: #191970;
}

